<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="disableSourceControlIntegration" value="true" />
</packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="HolisticWare.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
